<h1>StaticPages#index <%= image_tag("spot.jpg")class: "img-responsive") %></h1>
<p>Welcome! The date and time is <%= Time.now %></p>
<h1> Welcome to Bike Berlin </h1>
<h2>Your source for used bikes in Berlin </h2>


